.house {
    position: relative;
    width: 300px;
    margin: 0px auto;
    margin-top: 150px;
}

.base {
    width: 300px;
    height: 200px;
    background-color: #f5d742;
    position: relative;
    border: 2px solid #333;
}

.roof {
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 154px solid transparent;
    border-bottom: 120px solid #8b4513;
    position: absolute;
    bottom: 203px;
    left: 0;
    z-index: 1;
}

.window {
    width: 80px;
    height: 80px;
    background-color: #87ceeb;
    border-radius: 50%;
    position: absolute;
    top: 55%;
    left: 30%;
    transform: translate(-50%, -50%);
    border: 3px solid #fff;
}

.chimney {
    width: 30px;
    height: 60px;
    background-color: #654321;
    position: absolute;
    top: -95px;
    right: 50px;
    border: 2px solid #333;
}

.door {
    width: 60px;
    height: 100px;
    background-color: #964b00;
    position: absolute;
    bottom: -2px;
    left: 70%;
    transform: translateX(-50%);
    border: 2px solid #333;
}

.doorknob {
    width: 10px;
    height: 10px;
    background-color: #333;
    border-radius: 50%;
    position: absolute;
    top: 45px;
    right: 10px;
}